.header {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;

	.btn__nav {
		display: none;
	}

	.header__logo {
		width: 80px;
	}

	.header__nav {
		width: 100%;
		display: flex;
		justify-content: space-evenly;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			color: #fff;
			text-decoration: none;
			text-align: center;
			background-color: var(--color-nav);
			padding: 10px 0;
			font-size: 12px;

			&:hover {
				background-color: var(--color-nav-hov);
			}
		}
	}
}

@media screen and (max-width: 1010px) {
	.header {
		.btn__nav {
			cursor: pointer;
			display: block;
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;
			background-color: var(--color-nav);
			margin: 10px;
			padding: 15px;
			border-radius: 5px;
			box-shadow: 0 0 0 0 #000;
			transition: box-shadow .2s;

			&:hover {
				box-shadow: 4px 4px 0 0 #000;
			}

			i {
				color: #fff;
				font-size: 20px;
			}
		}

		.header__nav {
			position: absolute;
			top: -100vh;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			transition: top .5s;

			a {
				font-size: 16px;
				background-color: var(--color-nav-transparent);
				height: 100%;
			}
		}
	}
}
